 body{
    background-color:#202a3f;
   }
   /* ----------------------- buton dropdown -------------------------------*/
   .dropbtn {
	   
    background-color: #e84118;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #f93b3b;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #202a3f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#Hi{
	color: #f93b3b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	border:none;
	border-bottom:1px solid #e84118;
}
.dropdown-content a:hover {background-color: #f93b3b}
.show {display:block;}
/* ------------------------------------------------------------------------------- Butoane --------------------------------------------------------*/
#divBtn{
	
	display:inline;
	position:absolute;
	left:35%;
	top:5%;
}
.btns{
	outline:none;
	background-color:#e84118;
	color:white;
	border:none;
	width:100px;
	height:50px;
}
.btns:hover{
	background-color:#ef4c23;
	text-shadow:0 0 20px white;
}
/*--------------------------------------------------------------------- CUVINTE NOI -------------------------------------------------------------------*/
#name{color:#e84118;font-size:250%;}
#short{color:#42f453; font-size:150%;}
#description{color:#fff;}
/*--------------------------------------------------------------------- BUTOANE VALIDARE -------------------------------------------------------------------*/
#BtnDa{height:30px;
	width:80px;
	background-color:#15c605; color: white;
	border:none;
	font-size:12px; text-align:center; text-decoration:none;		
	cursor:pointer;}
	
#BtnNu{height:30px; width:80px;
	background-color:#c60505; color: white;
	border:none;
	font-size:12px; text-align:center; text-decoration:none;	
	cursor:pointer;}
/* ------------------------------------------------------------------------------- USERI --------------------------------------------------------*/
table {
	border-spacing: 15px;
    text-align: center;
	color: white;
	padding: 15px;
}
.Sterge{
	color:#e84118;
	background-color:#2f3640;
    width:100px;
    height:40px;
	border:solid 1.5px #2f3640;
	border-radius:100%;
	font-size:1.5em;
	transition:.3s;
	outline:none;
	
	}

.Sterge:hover{
	color:#e84118;
	text-shadow:0 0 20px #e84118;
	width:105px;
	height:45px;
	
}


