 body{
    background-color:#202a3f;
	/*background-color:#e84118;*/
   }
.butoane1{
position:absolute;
list-style-type:none;
right:10px;
top:10px;
padding:10px;
margin:10px;
}
.checkbox{
	color:white;
	position:absolute;
	list-style-type:none;
	top:50%;
	left:35%;
}
.Butoane{
	color:#e84118;
	/*background-color:#ffee10;*/
	background-color:#2f3640;
    width:65px;
    height:65px;
	/*border:solid 1.5px #ffee10;*/
	border:solid 1.5px #2f3640;
	border-radius:50%;
	font-size:1.5em;
	transition:.3s;
	outline:none;
	
	}

#SearchBar{
	
	color:white;
	background:#2f3640;
	position:absolute;
	left:25%;
	top:40%;
	width:40%;
	height:59px;
	padding:10px;
	font-size:20px;
	letter-spacing:3px;
	text-align:center;
	border:solid 1px #2f3640;
	border-top-left-radius:50px;	
	border-bottom-left-radius:50px;
	outline:none;
	}
	
#Search{
	color:#e84118;
	position:absolute;
	background:#2f3640;
	width:5%;
	padding:13px;
	font-size:20px;
	border:solid 1.5px #2f3640;
	border-top-right-radius:50px;	
	border-bottom-right-radius:50px;
	top:40%;
	left:65%;
	outline:none;
	
}
#Search:hover{
	color:#e84118;
	text-shadow:0 0 20px #e84118;
}
.Butoane:hover{
	color:#e84118;
	text-shadow:0 0 20px #e84118;
	width:80px;
	height:80px;
	
}

